## Stock Prediction

* Here task is to predict stocks from using previous stock rates

### 1. Collection of Database / Necessary requirement for project

* Data of company stocks price is downloaded from `https://www.openml.org/d/223`

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("stock.csv")

In [3]:
data.head()

,company1,company2,company3,company4,company5,company6,company7,company8,company9,company10
0,17.219,50.500,18.750,43.000,60.875,26.375,67.750,19.000,48.750,34.875
1,17.891,51.375,19.625,44.000,62.000,26.125,68.125,19.125,48.750,35.625
2,18.438,50.875,19.875,43.875,61.875,27.250,68.500,18.250,49.000,36.375
3,18.672,51.500,20.000,44.000,62.625,27.875,69.375,18.375,49.625,36.250
4,17.438,49.000,20.000,41.375,59.750,25.875,63.250,16.500,47.500,35.500

In [6]:
data.shape

(950, 10)

####  Here you can see that there are data of 10 companies but in my project I will use only one company stocks.

### Other things required for the project

* `pandas` for dataframes
* `numpy` for mathematical operation on data
* `matplotlib` for visualization
* `keras` to run models
* `sklearn` for to use pre-built models
* `tenserflow` to create models
* `tkinter` to make GUI